   /* Estilos CSS para el footer */
   body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #1c2a48; /* Fondo azul oscuro */
    padding: 50px 0; /* Espaciado interno */
    color: #fff; /* Color del texto */
    text-align: center; /* Alineación del texto al centro */
}

.footer-logo {
    font-size: 2rem; /* Tamaño de fuente para el logotipo */
    font-weight: bold; /* Texto en negrita */
}

.footer-logo a {
    text-decoration: none; /* Quita el subrayado de los enlaces */
    color: #fff; /* Color del logotipo */
}

.footer-links {
    margin-top: 20px; /* Espacio entre los enlaces y el logotipo */
}

.footer-links ul {
    list-style: none; /* Quita las viñetas de la lista */
    padding: 0; /* Elimina el relleno predeterminado de la lista */
}

.footer-links ul li {
    margin-bottom: 10px; /* Espacio entre los elementos de la lista */
}

.social-icons {
    margin-top: 30px; /* Espacio entre los íconos sociales y los enlaces */
}

.social-icons a {
    font-size: 1.5rem; /* Tamaño de fuente de los íconos sociales */
    margin-right: 15px; /* Espacio entre los íconos sociales */
    color: #fff; /* Color de los íconos sociales */
    text-decoration: none; /* Quita el subrayado de los enlaces */
    transition: color 0.3s ease; /* Transición suave del color al pasar el mouse */
}

.social-icons a:hover {
    color: #fca311; /* Cambia el color al pasar el mouse */
}
.icon-img {
    width: 32px; /* Cambia el ancho según tus necesidades */
    height: 32px; /* Cambia la altura según tus necesidades */
}
