<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="img/logo.png" rel="icon">
    <link href="img/logo.png" rel="apple-touch-icon">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <title>Preinscripcion</title>
</head>
<body>
    <div>
        <div class="fcaja_2">
            <form>
                <h1>Preinscripcion</h1>
                <label for="name">Nombre Completo:</label>
                <input type="text" name="name" id="name" alt="name">
                <br>
                <label for="l_name">Apellido:</label>
                <input type="text" name="l_name" id="l_name" alt="l_name">
                <br>
                <label for="phone">Celular:</label>
                <input type="tel" name="phone" id="phone" alt="phone">
                <br>
                <label for="email">Correo Electronico:</label>
                <input type="email" name="email" id="email" alt="email">
                <br>
                <label for="date">Fecha de nacimiento:</label>
                <input type="datetime-local" name="date" id="date" alt="date">
                <br>
                <label for="dni">Dni:</label>
                <input type="text" name="dni" id="dni">
                <br>
                <label for="carrer">Carrera:</label>
                <input type="text" name="carrer" id="carrer">
                <br>
                <label for="Altura">Calle y Altura:</label>
                <input type="text" name="Altura" id="Altura">
                <br>
                <label for="gender">Genero:</label>
                <input type="radio" name="gender" id="Male" value="Masculino">Masculino
                <input type="radio" name="gender" id="Female" value="Femenino">Femenino
                <br>
                <br>
                <label for="password">Contraseña:</label>
                <input type="password" name="password" id="password">
                <br>
                <br>
                <label for="r_password">Repetir Contraseña:</label>
                <input type="password" name="r_password" id="r_password">
                <br>
                <br>
                <input class="button" type="submit" value="Guardar Datos">
            </form>
        </div>
</body>
</html>